Django==4.2.16
boto3==1.35.33
dj-rest-auth[with_social]==6.0.0
django-cors-headers==4.4.0
django-countries==7.6.1
django-extensions==3.2.3
django-filter==24.3
django-modeltranslation==0.19.9
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-gis==1.1
drf-recaptcha==4.0.2
gunicorn==23.0.0
openpyxl==3.1.5
pillow==10.4.0
psycopg==3.2.3
simpleflake==0.1.5
